# Bỏ qua thư mục hệ thống của Visual Studio
.vs/
*.user
*.suo

# Bỏ qua thư mục build
bin/
obj/

# Bỏ qua các file tạm hoặc log
*.log
*.tmp

# Nếu ảnh upload riêng thì có thể bỏ qua thư mục này (tuỳ chọn)
# wwwroot/uploads/
