<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Thông tin liên hệ</h5>
            <p>
                <i class="fas fa-map-marker-alt"></i> Địa chỉ: 123 Đường ABC, Quận XYZ, TP. HCM<br />
                <i class="fas fa-phone"></i> Điện thoại: (028) 1234 5678<br />
                <i class="fas fa-envelope"></i> Email: info@phukien.com
            </p>
        </div>
        <div class="col-md-4">
            <h5>Liên kết nhanh</h5>
            <ul class="list-unstyled">
                <li><a href="/">Trang chủ</a></li>
                <li><a asp-controller="Product" asp-action="DanhSach">Sản phẩm</a></li>
                <li><a asp-controller="News" asp-action="DanhSach">Tin tức</a></li>
                <li><a asp-controller="Home" asp-action="GioiThieu">Giới thiệu</a></li>
                <li><a asp-controller="Contact" asp-action="FormLienHe">Liên hệ</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Kết nối với chúng tôi</h5>
            <div class="social-links">
                <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <p>&copy; @DateTime.Now.Year - Website Bán Phụ Kiện</p>
        </div>
    </div>
</div>